<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://sql.external.vanging.com/com_vanging_www_user_test"/>
                <property name="username" value="com_vanging_www_user_test"/>
                <property name="password" value="com_vanging_www_user_test"/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="initial_context" value="java:comp/env" />
                <property name="data_source" value="jdbc/com_vanging_www_user" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/class.xml"/>
        <mapper resource="mappers/note.xml"/>
    </mappers>
</configuration>